{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "plugins": ["import", "react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 100, 2, { "ignoreUrls": true }],
    "linebreak-style": ["error", "unix"],
    "react/prop-types": 0,
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-unused-vars": "error"
  }
}
