@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Work Sans', sans-serif;
}

/* .uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
    background-color: transparent !important;
}

.uppy-StatusBar.is-waiting {
    border-top: 0 !important;
}

.uppy-StatusBar {
    background-color: transparent !important;
}

.uppy-c-icon {
    display: none !important;
}

.uppy-DragDrop-label {
    padding: 20px !important;
}

.uppy-StatusBar::before {
    background-color: transparent !important;
} */