body {
  margin: 0;
  padding: 0;
  /* overflow-y: scroll; */
}

a {
  color: inherit;
  transition: 0.1s;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-image: linear-gradient(to bottom, #2c2c2c, #3d3d3d); */
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8dadb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 213, 218);
}

video {
  outline: none;
}
