body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  /* overflow-y: scroll; */
}

a {
  color: #b3b5bd;
  transition: 0.1s;
  text-decoration: none;
}

a:hover {
  color: #b3b5bd;
  opacity: 0.85;
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #23272a, #2f3438);
  /* background: #2c3135; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e4449;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 65, 70);
}

video {
  outline: none;
}
