body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2430;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272d3c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 55, 73);
}

a {
  color: black;
  transition: 0.1s;
}

a:hover {
  color: black;
  opacity: 0.85;
}

h1 {
  /* color: #abb0b6; */
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0em;
  line-height: 1em;
}

h2 {
  /* color: #abb0b6; */
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 0em;
  line-height: 1em;
}

h3 {
  /* color: #abb0b6; */
  font-weight: 400;
  font-size: 1.17em;
  letter-spacing: 0em;
}

h4 {
  /* color: #abb0b6; */
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 1em;
}

h5 {
  /* color: #abb0b6; */
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.9em;
}

h6 {
  /* color: #abb0b6; */
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.8em;
}

p {
  /* color: #abb0b6; */
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

video {
  outline: none;
}

/* input {
  background-color: #171b24 !important;
} */

/* .ui.input.focus > input,
.ui.input > input:focus {
  color: #e2eeee;
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  color: #e2eeee;
} */

.ui.stacked.segment {
  background-color: transparent;
}

.ui.tabular.menu {
  border-bottom: none;
}

.item {
  border: none;
}
