body {
  margin: 0;
  padding: 0;
  background: #1f2430;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  color: #ffffff;
  font-weight: 400;
}

video {
  outline: none;
}

input {
  background-color: #171b24 !important;
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  color: #e2eeee;
}

.ui.stacked.segment {
  background-color: transparent;
}

.ui.tabular.menu {
  border-bottom: none;
}

.item {
  border: none;
}
