body {
  margin: 0;
  padding: 0;
  background: #1f2430;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  color: #ffffff;
  font-weight: 400;
}

video {
  outline: none;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.ant-input {
  background-color: #1f2430;
}

/* .ant-message {
  bottom: 20px;
  top: initial;
} */
